<!DOCTYPE html>
<html>
<head>
  <title>Votre page</title>
</head>
<body>
	<p>Bonjour <%= @user %> </p>

	<% if @app %>
		<p> Vous êtes désormais administrateur de <%= @app_name %> d'URL <%= @app_url %> </p>
	<% end %>

	<% app = App.where(:admin => @user)
	   if !app.empty? %>
		<div class="applications">
			<p>Voici la liste d'applications dont vous êtes l'administrateur</p>
			<ul>
				<% app.each do |a| %>
					<li><a href="<%=a.url%>"> <%=a.name%></a> <a href="/app/delete?app=<%=a.id%>">Supprimer</a> </li>
				<% end %>
			</ul>
		</div>

	<%else%>
		<p>Vous êtes administrateur d'aucune application</p>
	<%end%>

	<% 
	 util = Use.find_all_by_user_id(User.find_by_login(@user))
	 if !util.empty? %>

	<div class="Utilisations">
			<p>Voici la liste d'applications que vous utilisez</p>
			<ul>
				<% util.each do |u| %>
					<% app = App.find_by_id(u.app_id) %>
					<li><a href="<%=app.url%>"><%=app.name%></a></li>
				<% end %>
			</ul>
	</div>

	<%else%>
		<p>Vous n'utilisez aucune application</p>
	<%end%>

<a href="/app/new">Créer une nouvelle application</a><br/>
<a href="/sessions/disconnect">Se déconnecter</a>

	   		
	
</body>
</html>
